body {
  font-family: Inter, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  margin: 0;
}
.Checkbox_elem__lQU3Y {
  border: 2px solid #c1c1c1;
  border-radius: 6px;
  box-shadow: none;
  cursor: pointer;
  height: 20px;
  left: 360px;
  padding: 0;
  position: absolute;
  top: 14px;
  transition: all 0.2s;
  width: 20px;
}
.Checkbox_elem__lQU3Y.Checkbox_checked__ynGMi {
  background-color: #005ffd;
  background-image: url(/static/media/check.8b4b3ba015865473a4bb.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  border: 2px solid #0049d9;
}
.LangSelect_language__v2RmN {
  border-bottom: 1px solid #f4f4f4;
  display: flex;
  height: 52px;
  position: relative;
  width: 400px;
}
.LangSelect_img__deh6j {
  margin-left: 16px;
  margin-top: 16px;
}
.LangSelect_item__OMaOq {
  font-size: 16px;
  margin-left: 8px;
  margin-top: 18px;
}
.LangSelect_cross__rMDsP {
  cursor: pointer;
  height: 7.5px;
  margin: 8.25px 14.25px 8.25px 10.25px;
  width: 7.5px;
}
@keyframes Dropdown_fadeIn__TqwGA {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Dropdown_fadeOut__u8t8o {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
.Dropdown_label__rciwj {
  margin-bottom: 4px;
}
.Dropdown_head__iVGlG {
  background: #fff;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  box-shadow: 4px 4px 20px 0 #0000001a;
  display: flex;
  margin: 0;
  max-width: 390px;
  min-height: 40px;
  padding: 0 14px 0 10px;
}
.Dropdown_wrap__HrK4Y {
  display: flex;
  flex-wrap: wrap;
  padding-top: 7px;
  width: 358px;
}
.Dropdown_arrow__7td2f {
  cursor: pointer;
  display: block;
  transition: all 0.5s;
}
.Dropdown_arrow__7td2f.Dropdown_active__ECzEs {
  transform: rotate(180deg);
  transition: all 0.5s;
}
.Dropdown_addLang__kqutR {
  animation: Dropdown_fadeIn__TqwGA 0.3s ease-in-out;
  background-color: #f4f4f4;
  border: none;
  border-radius: 8px;
  display: flex;
  height: 24px;
  margin: 0 4px 7px 0;
  overflow: hidden;
}
.Dropdown_addLang-remove__rbf67 {
  animation: Dropdown_fadeOut__u8t8o 0.3s ease-in-out;
}
.Dropdown_langText__EXhD7 {
  font-size: 12px;
  line-height: 10px;
  margin: 6px 0 6px 12px;
  overflow: hidden;
  text-align: center;
}
.Dropdown_cross__0rTx\+ {
  cursor: pointer;
  height: 7.5px;
  margin: 8.25px 14.25px 8.25px 10.25px;
  width: 7.5px;
}
.Dropdown_info__rfHn1 {
  background: #fff;
  border-radius: 12px;
  box-shadow: 4px 4px 20px 0 #0000001a;
  margin-top: 8px;
  transition: all 0.5s;
}
.Dropdown_info__rfHn1.Dropdown_hidden__JGuz7 {
  opacity: 0;
  transition: all 0.5s;
}
.Dropdown_search__cRYxS {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 1a5.5 5.5 0 0 1 4.383 8.823l3.896 3.9a.75.75 0 0 1-1.061 1.06l-3.895-3.9A5.5 5.5 0 1 1 6.5 1Zm0 1.5a4 4 0 1 0 0 8 4 4 0 0 0 0-8Z' fill='%23C1C1C1'/%3E%3C/svg%3E")
    no-repeat center left 13px;
  background-color: #f4f4f4;
  border: none;
  border-radius: 10px;
  box-shadow: none;
  color: #000;
  font-size: 16px;
  height: 40px;
  margin: 16px 16px 0;
  padding-left: 36px;
  width: 332px;
}
::placeholder {
  color: #c1c1c1;
}
.App_app__Eqa42 {
  margin: auto;
  padding-top: 16px;
  width: 400px;
}
/*# sourceMappingURL=main.771b83d7.css.map*/
